#pitang {
  height: 100%;
  position: absolute;
  width: 100%;
}

#pitang img.pitang-top {
  height: 182px; 
  left: 2rem;
  opacity: 0.5;
  position: absolute;
  top: 2rem;
  width: 225px;
}

#pitang img.pitang-bottom {
  bottom: 40px;
  height: 45px; 
  opacity: 0.5;
  position: absolute;
  right: 125px;
  width: 225px;
}

.reveal section img {
  background: none;
  border: 0;
  box-shadow: none;
}